<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankforBank</title>
</head>
<body>
    <div id="navi">
        <nav class="navbar navbar-dark bg-dark ">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                         <i class="fas fa-university"> LBS</i></a>
                  </div>
                  <ul class="nav navbar-nav menu-effect">
                    <li class="active"><a href="#">Home</a></li>
                    <!-- <li><a href="html/customer.html">Customers</a></li>
                    <li><a href="html/transaction.html">Transfer History</a></li>
                    <li><a href="html/transfer.html">Payment</a></li>
                   -->
                   <li><a href="/customers">Customers</a></li>
                    <li><a href="/transactions">Transfer History</a></li>
                    <li><a href="/transfer">Payment</a></li>
                  
                  </ul>
                </div>
          </nav>
    </div>
    <div id="details">
       <h2> <b>Welcome to Local Bank System</b></h2> 
       <img src="https://previews.123rf.com/images/seahorsevector/seahorsevector2004/seahorsevector200400260/144811219-social-distancing-at-bank-vector-illustration-financial-service-at-coronavirus-quarantine-people-man.jpg" alt="Bank" class="center" height="350px">
    </div>
    <div id="feature">
        <div class="row">
            <div class="column">
              <div class="card"> <b>Online Services</b> <br>
                <p>Online banking allows a user to conduct financial transactions via the Internet.
                    Consumers aren't required to visit a bank branch in order to complete most of their basic banking transactions.
                    A customer needs a device, an Internet connection, and a bank card to register. </p>
            </div>
            </div>
            <div class="column">
              <div class="card"><b>Easy to Transfer</b><br>
                <p>Wire transfers are the most secure way to send money because funds are transferred directly from one bank to another.You are only allowed to send money to recipients with a bank account, which ensures that the other person's identity has been verified.</p>
            </div>
            </div>
            <div class="column">
              <div class="card"><b>Build Your Saving</b><br>
                <p>Although there are no magic tricks to make you into an instant millionaire, there are few ways you can learn how to build your money in no time. If building savings is your goal, then these nine easy steps will help you get there.You don’t need financial advisor to learn how to build your money. </p>
            </div>
            </div>
            <div class="column">
              <div class="card"><b>Locate Us</b>
                <br> <br>
                <p>Email:
                    Admin@gmail.com
                </p>
                <p>Contact:
                    1234567890
                </p>
                <p>Feel Free to ask , anytime anywhere.
                    Enjoy it !
                </p><br>
            </div>
            </div>
          </div>
        </div>
    </div>
    <div id="Connect">
      <a href="html/transfer.html">
        <button type="button" class="btn btn-primary btn-lg">Go For Payment!</button>
      </a>      
    </div>
</body>
</html>