<!-- <script type="text/javascript">
    function checkInp()
    {
      var amount=document.forms["transfer"]["amount"].value;
      var from_ac = document.forms["transfer"]["from_ac"].value;
      var from_to = document.forms["transfer"]["to_ac"].value;

        Console.log("testing the case ")

      if (isNaN(amount) || isNaN(from_ac) || isNaN(from_to) ) 
      {
        alert("Invalid Amout or account number.");
        return false;
      }
    
    }
    </script>


<form action="/transfer_money" name="transfer" onsubmit="return checkInp()" method="post">

    <input type="text" name="from_ac" placeholder="From a/c number" required/>
    <input type="text" name= "to_ac" placeholder="To a/c number" required/>
    <input type="text" name= "amount" placeholder="amout" required/>
    <input type="submit" value="Transfer">   
</form>
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <link rel="stylesheet" href="../static/transfer.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Transfer</title>
 </head>
 <body>
     <div id="navi">
         <nav class="navbar navbar-dark bg-dark ">
                 <div class="container-fluid">
                   <div class="navbar-header">
                     <a class="navbar-brand" href="#">
                          <i class="fas fa-university"> LBS</i></a>
                   </div>
                   <ul class="nav navbar-nav menu-effect">
                     <!-- <li class="active"><a href="../index.html">Home</a></li>
                     <li><a href="customer.html">Customers</a></li>
                     <li><a href="transaction.html">Transfer History</a></li> -->
                     <li class="active"><a href="/">Home</a></li>
                     <li><a href="/customers">Customers</a></li>
                     <li><a href="/transactions">Transfer History</a></li>
                   </ul>
                 </div>
           </nav>
     </div>
     <div class="Form-box">
         <h2>Payment Gateway</h2>
         <form action="/transfer_money" name="transfer"  method="post">

           <div class="user-box">
             <input type="text" name="from_ac" placeholder="" required>
             <label>From User</label>
             <div class="user-box">
             <input type="text" name= "to_ac" placeholder="" required>
             <label>To User</label>
               
           </div>
           <div class="user-box">
             <input type="number" name= "amount" placeholder="" required>
             <label>Amount</label>
           </div>
           <button type="submit">
             <span></span>
             <span></span>
             <span></span>
             <span></span>
              Submit
           </button>
         </form>
       </div>
 </body>
 </html>